<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About us</h1>
      <p class="text-capitalize text-center sub-heading">grow your business with
        us</p>
      <div class="row">

        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/new.svg" alt="" />
          </figure>
        </div>
        <div
          class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column"
        >
          <h1 class="text-uppercase">we are the professional developer ✋ </h1>

          <p class="text-capitalize">welcome to
            <span class="bold-style">krish Creator </span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            quas id error excepturi quaerat at nemo quaerat!</p>
          <button class="btn-style btn-primary">READ MORE</button>

        </div>
      </div>

    </div>
  </div>
</div>